@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &__slider
      width: 590px
      &__image
        height: 100%
  .card
    width: 230px
    height: 230px
  .packages
    &-wrapper
      margin: auto
      grid-template-columns: 1fr 1fr
      grid-template-rows: 500px 500px 500px
      column-gap: 30px
      row-gap: 30px
      justify-items: space-evenly
    &__image
      &-container
        max-width: 100%
    &__information
      max-width: 100%
    &-offer
      &-large
        grid-template-columns: 1fr 1fr
        &__image-container
          max-width: 480px
        &__information
          max-width: 480px
  .footer
    &__legal
      padding: 0
    &__input
      &-group
        flex-basis: 100%
    &__information
      &-wrapper
        margin-right: 210px
@media (max-width: 992px)
  .container
    max-width: 700px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 48px
      max-width: 340px
    &-menu__link
      font-size: 12px
      line-height: 15px
      &:hover
        text-decoration: none
    &-menu-list
      margin: 0
      padding: 20px 0 25px 0
      justify-content: space-around
  .logo
    width: 96px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      width: 100%
      margin-bottom: 30px
    &-booking
      flex-direction: row
    &-slider
      &__image
        height: 100%
        width: 100%
        object-fit: cover
  .booking
    width: 340px
    padding-right: 23px
    &__call-center
      margin-bottom: 14px
    &__button
      &:hover
        transform: none
  .map
    width: 340px
  .newsletter
    padding: 92px 0 93px 0
    &-container
      max-width: 700px
  .reviews
    padding-top: 40px
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 579px
      &__avatar
        margin-bottom: 10px
      &__button
        top: 170px
        &--next
          margin-right: 2px
        &--prev
          margin-left: 2px
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
      justify-content: space-between
  .card
    width: 339px
    height: 255px
    margin-bottom: 20px
    &__button
      &:hover
        transform: none
  .packages
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &__button
      &:hover
        transform: none
  .footer
    padding-top: 73px
    padding-bottom: 33px
    &-wrapper
      grid-template-columns: repeat(7, 1fr)
      grid-row-gap: 42px
      grid-column-gap: 9px
      justify-items: start
    &__title
      &--inline
        margin: 0 35px 0 0
      &--mb
        margin-bottom: 24px
        padding-top: 5px
      &--mb-3
        margin-bottom: 33px
    &__icon
      &-wrapper
        width: 46px
    &__logo
      max-width: 100px
      height: 110px
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        align-items: start
        grid-row: 1 / 2
        grid-column: span 7
        align-self: center
        padding-top: 10px
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      margin-bottom: 15px
    &__legal
      margin-left: 5px
      grid-column: span 3
    &__additional
      grid-column: span 3
      margin-left: 4px
    &__contact
      &-details
        grid-row: 3
        grid-column: span 6
        align-self: center
        justify-content: center
      &-form
        grid-row: 4
        grid-column: span 6
        max-width: 540px
    &__input
      &-group
        flex-basis: 48%
    &__message
      max-width: 100%
    &__info
      padding-top: 16px
      &-wrapper
        align-items: start
        margin-bottom: 58px
    &__information
      justify-content: space-between
      align-items: center
    &-contact
      &:hover
        text-decoration: none
  .modal
    &__button
      &:hover
        transform: none
@media (max-width: 767px)
  body
    padding-top: 80px
  .container
    max-width: 576px
  .navbar
    &-top
      &__menu
        &-button
          cursor: pointer
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-menu
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      &--visible
        display: block
        overflow-x: auto
        overflow-y: auto
      &-list
        flex-direction: column
        padding-top: 31px
        &__item
          &--mobile
            &--visible
              width: 243px
              height: 40px
              display: block
              margin-bottom: 26px
              flex-basis: 100%
              &--mb
                margin-bottom: 34px
            &--mb
              margin-bottom: 17px
    &__search
      &--mobile
        &--visible
          margin: 0
          width: 243px
          align-self: center
          height: 100%
  .search
    &__input
      &-mobile
        width: 100%
        height: 100%
        padding-top: 12px
        padding-bottom: 13px
        padding-left: 23px
        padding-right: 70px
        overflow: visible
        &-group
          overflow: visible
          position: relative
          width: 243px
          height: 40px
  .user
    &__name
      &--white
        color: $white
        padding-top: 10px
        margin: 0
  .menu
    &-button
      width: 16px
      height: 11px
      display: flex
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $white
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
        margin-top: 0
    &-booking
      flex-direction: column
      min-height: 450px
    &-description
      margin-bottom: 17px
    &__slider
      height: 350px
  .stars
    flex-basis: auto
    margin-right: 14px
    &-wrapper
      justify-content: space-between
  .booking
    width: 100%
  .modal
    &__overlay
      overflow-y: auto
      overflow-x: auto
    &__dialog
      width: 378px
      padding: 30px 60px
    &__input
      &-group
        width: 100%
    &__info
      &-wrapper
        flex-direction: column
        align-items: flex-start
    &__button
      width: 100%
      margin-bottom: 20px
  .map
    width: 100%
    &__size
      width: 100%
  .newsletter
    &-container
      max-width: 576px
      flex-direction: column
      align-items: flex-start
    &__call
      margin-bottom: 37px
  .subscribe
    width: 100%
  .card
    width: 95%
  .packages
    &__text
      display: none
    &-wrapper
      grid-template-columns: 1fr
      grid-template-rows: repeat(5, 500px)
      grid-auto-columns: auto
      column-gap: 0
      row-gap: 30px
    &__block
      grid-column-start: 1
      grid-column-end: 2
    &-offer
      &-large
        display: block
        &__image-container
          max-width: 100%
          max-height: 250px
          border-bottom-left-radius: 0px
          border-top-left-radius: 8px
          border-top-right-radius: 8px
        &__information
          max-width: 100%
          max-height: 250px
          padding: 20px 21px 25px 32px
          border-top-right-radius: 0px
          border-bottom-left-radius: 8px
          border-bottom-right-radius: 8px
        &__room
          margin-bottom: 20px
  .footer
    &__contact
      &-form
        width: 100%
    &__input
      width: 100%
      &-group
        flex-basis: 100%
    &__information
      flex-direction: column
      align-items: flex-start
      flex-basis: 100%
      &-wrapper
        width: 100%
        margin-bottom: 10px
        justify-content: space-between
@media (max-width: 576px)
  .container
    max-width: 95%
  .logo
    width: 120px
  .hotel
    &__slider
      height: 300px
      margin-bottom: 20px
  .newsletter
    &-container
      max-width: 95%
  .reviews
    height: 532px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
      margin-right: auto
      margin-left: auto
      text-align: center
  .activities
    padding-top: 40px
    padding-bottom: 37px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 100%
  .packages
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
  .footer
    padding-top: 68px
    &__text
      margin-bottom: 18px
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 32px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        flex-direction: column
        align-items: flex-start
        grid-row: 2
        grid-column: 1
        padding-top: 0
    &__title
      &--inline
        margin-right: 0
        margin-bottom: 22px
      &--mb-3
        margin-bottom: 15px
      &--mb
        padding-top: 0
        margin-bottom: 23px
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      justify-self: start
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        width: 270px
        grid-row: 6
        grid-column: 1
        margin-bottom: 10px
      &-form
        height: 415px
        grid-row: 7
        grid-column: 1
    &__information
      flex-direction: column
      align-items: flex-start
      flex-basis: 100%
      &-wrapper
        width: 100%
        margin-bottom: 10px
        justify-content: space-between
    &__additional
      margin-left: 0
    &__icon
      &-wrapper
        min-width: 15px
    &__button
      margin-bottom: 50px
    &__info
      margin-bottom: 14px
      &-wrapper
        min-height: 100px
        flex-direction: column-reverse
        align-items: flex-start
    &__message
      margin-bottom: 0
  .modal
    &__dialog
      min-width: 265px
      margin-top: 15px
      &__input
        &-group
          width: 100%
@media (max-width: 485px)
  .reviews
    height: 661px
    &__title
      max-width: 90%
    &-slider
      &__item
        padding-right: 29px
        padding-bottom: 36px
        padding-left: 33px
        &::after, &::before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -88px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -88px
      &__text
        max-width: 100%
      &__profile
        margin-bottom: 34px
    &__info
      &-wrapper
        height: 100px
        flex-direction: column
        justify-content: space-between
  .card
    width: 280px
    &:nth-child(2)
      order: 2
    &:nth-child(4)
      order: 4
  .packages
    &__button
      padding: 10px 15px
  .modal
    &__dialog
      width: 90%
      padding: 30px 40px
    &__input
      &-group
        width: 100%
@media (max-width: 480px)
  .container
    max-width: 279px
  .logo
    width: 99px
    margin-bottom: 9px
  .hotel
    &__slider
      height: 179px
    &-booking
      min-height: 403px
  .booking
    margin-bottom: 20px
  .map
    height: 173px
    overflow: hidden
  .newsletter
    padding: 76px 0 83px 0
    &-container
      max-width: 279px
    &-call
      font-size: 20px
      line-height: 25px
    &__call
      margin-bottom: 40px
    &-title
      font-size: 30px
      line-height: 38px
  .activities
    &-wrapper
      &__card
        &-1, &-2
          margin-bottom: 20px
        &-3
          margin-bottom: 29px
@media (max-width: 320px)
  .container
    max-width: 279px
